.recipe-wrapper
{
    max-width: 500px;
    margin: auto;
}
.drinkWrapper
{
    display: grid;
    gap: 10px;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
}
.drinkWrapper img{
    width: 100%;
    border-radius: 10px;
}
.drinkWrapper button{
    background: #b71d1c;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: auto;
    justify-content: end;
    cursor: pointer;
}
.drinkWrapper button:hover{
    opacity: 0.6;
}
.buttonWrapper
{
    display: flex;
    justify-content: center;
}
.ingrWrapper
{
    display: grid;
    gap: 10px;
}
.drinkWrapper h1{
    color: #b71d1c;
}
.drinkWrapper fieldset{
    border: 1px solid #b71d1c;
}
.ingrWrapper div{
    font-size: 1em;
}